@charset "utf-8";

body
{
margin: 30px;
padding: 30px;
background-color:#D3D3D3 ;
font-family: ;
text-align:center;
}

#page
{
background-color:#D3D3D3;
margin: 20px auto;
padding: 20px auto;
}

#footer
{
    padding: 10px;
    background-color: beige;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

#headings
{
padding:10px;
background-color: red;
text-align: center;
}

#menu
{
padding:5px;
background-color: #ccccdd;
font-size:20px; colour: red;
border: solid 2px white;
}

.list
{
}

img
{
    border:solid 1px papayawhip;
    alignment-baseline: central;
}

h1
{
    background-color: #ccccdd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: azure;
}

h2
{ 
    background-color: #ccccdd;
    font-size: 14px;
    color: peachpuff;
}

p
{
    background-color: #D3D3D3;
}

hr {
  border: 2px solid powderblue;
  border-radius: 5px;
}